body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7d9a7;
  color: #4b2e16;
}

h1 {
  font-size: 40px;
}

#cookie {
  font-size: 100px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  background: #c9823b;
  cursor: pointer;
  transition: 0.1s;
}

#cookie:active {
  transform: scale(0.9);
}

.loja {
  margin-top: 30px;
}

button {
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #8b5a2b;
  color: white;
}

button:hover {
  background: #6b3f1d;
}